<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Specialty</th>
            <th scope="col">Experience Years</th>
            <th scope="col">Bio</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if doctors %}
            {% for doctor in doctors %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ doctor.id }}</td>
                    <td>{{ doctor.specialty }}</td>
                    <td>{{ doctor.experience_years }}</td>
                    <td>{{ doctor.bio }}</td>
                    <td>
                        <a href="{% url 'edit_doctor_page' pk=doctor.id %}">
                            <button class="btn btn-primary">Edit</button>
                        </a>
                        <a href="{% url 'delete_doctor_page' pk=doctor.id %}">
                            <button class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">
                    No doctors yet
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
